<main>
    <h1><%= title %></h1>
    <div id="form-l">
        <form action="/account/login" method="post">
            <div class="email">
                <label for="account_email">Email</label>
                <input type="email" name="account_email" id="account_email" required>
            </div>
            <div class="password">
                <span>Passwords must be at leaset 12 characters and contain at least one uppercase letter, one lowercase letter, one number and one special character</span>
                <input type="password" name="account_password" id="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            </div>
            <button type="submit">Login</button>
        </form>
      
        <p>No account? <a href="/account/register">Sign-up</a></p>
    </div>
</main>