<main>
    <h1><%= title %></h1>
  
    <%# if (messages && messages.notice) { %>
      <!-- <div class="notice"><%#= messages.notice %></div> -->
    <%# } %>
  
    <% if (errors && errors.length > 0) { %>
      <div class="errors">
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error %></li>
          <% }) %>
        </ul>
      </div>
    <% } %>
  
    <p>You're logged in.</p>
  </main>