<!-- The Content Heading -->
<link rel="stylesheet" href="/css/styles.css">
 <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<!-- Message Block -->
<%# messages() %>

<!-- Inventory Items Display -->
 <%- grid %>