<main class="management">
    <h1><%= title %></h1>
  
    <!-- Flash messages -->
    <%#- messages('notice') %>
  
    <ul>
      <li class="classification"><a href="/inv/add-classification">Add New Classification</a></li>
      <li class="inv"><a href="/inv/add-inventory">Add New Inventory</a></li>
    </ul>
  </main>