<main class="management">
    <h1><%= title %></h1>
  
    <!-- Flash messages -->
    <%#- messages('notice') %>
    <% if (accountData) { %>
      <h2>Welcome <%= accountData.account_firstname %></h2>
    
      <p><a href="/account/update/<%= accountData.account_id %>">Update Account Information</a></p>
    
      <% if (accountData.account_type === 'Employee' || accountData.account_type === 'Admin') { %>
        <h3>Inventory Management</h3>
        <p><a href="/inv">Manage Inventory</a></p>
      <% } %>
    <% } %>
  
    <ul>
      <li class="classification"><a href="/inv/add-classification">Add New Classification</a></li>
      <li class="inv"><a href="/inv/add-inventory">Add New Inventory</a></li>
      <h2>Manage Inventory</h2>
      <p>Select a classification from the list see the items belonging to the classification</p>
      <%- classificationSelect %>
      <table id="inventoryDisplay"></table>
      <noscript>JavaScript must be enabled to use this page.</noscript>
    </ul>
    <script src="../../js/inventory.js"></script>
  </main>